@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}

/* Custom utility for blurred edge */
@layer utilities {
  .header-blur-edge {
    mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%); /* For Safari */
  }
}

/* Ensure body takes full height and background color applies */
body {
  @apply bg-white dark:bg-gray-950 min-h-screen; /* Ensure dark mode background */
}

/* Style scrollbars for Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit browsers */
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}
